.containerModal{
    width: 100%;
    z-index: 12;
    padding: 2em;
    position: relative;
    svg{
        position: absolute;
        color: var(--white);
        width: 25px;
        height: 25px;
        right: 0;
        top: 5px;
        transition: all .3s ease;
        cursor: pointer;
    }
    svg:hover{
        transform: scale(1.1);
         color: var(--green);
    }
    .containerCharacters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .imgToken{
            border: solid 2px white;
            border-radius: 1em;
            overflow: hidden;
            img{
                min-width: 100%;
                min-height: 100%;
            }
        }
        .token{
            width: 60%;
            span{
                
                padding: .5em;
                border: solid 1px white;
                color: var(--white);
                display: flex;
                flex-direction: column;
                font-size: 1em;
                h2{
                    font-size: 2em;
                }
            }
        }
    }
    .meseeks{
        position: absolute;
        bottom: -15%;
        right: 5px;
       img{
           height: 150px;
         width: 100px;
       }
    }
}